*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  width: 1600px;
  height: 750px;
}

.con-view {
  display: grid;
  grid-row: span 2;
  width: 1000px;
  max-width: 1600px;
}

.con-add {
  display: grid;
  grid-row: span 1;
  width: 100%;
  margin-top: 20px;
  max-width: 1600px;
}

.con-send {
  display: grid;
  grid-row: span 1;
  width: 100%;
  margin-top: 20px;
  max-width: 1600px;
}
