<div class="card">
  <div class="client_details">
    <p class="client_head">Client Details</p>
    <div class="client_main">
      <div class="client_icon"><img src="../../assets/seller_logo.png" alt="client_logo" title="Client Logo" class="client_logo"></div>
      <div class="client_n_e">
        <div class="client_name">{{client_name}}</div>
        <div class="client_email">{{client_email}}</div>
      </div>
    </div>
    <hr class="tabular_line tabular_line-1">
    <div class="client_rest_details">
      <div class="client_com">{{client_com}}</div>
      <div class="client_add">{{client_add}}</div>
    </div>
    <div class="button_new" (click)="redirect()">Add New Customer</div>
  </div>
</div>
