<div class="nav-bar">
  <div class="nav-links logo"><a routerLink="dash">LawPay.</a></div>
  <div class="nav-links">
    <ul>
      <li><a class="nav-dash links" routerLink="dash" routerLinkActive="active"><i class="fa-solid fa-file-lines"></i> &nbsp;&nbsp;&nbsp;Invoice</a></li>
      <li><a class="nav-add links" routerLink="details-add" routerLinkActive="active"><i class="fa-solid fa-bars"></i> &nbsp;&nbsp;&nbsp;Details</a></li>
    </ul>
  </div>
  <div class="nav-links login"><a class="nav-login"><img class="user_logo" src="../assets/seller_logo.png"></a></div>
</div>
<router-outlet></router-outlet>
