/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: #F7F9FB;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}
